/* Navigation bar */

nav {
  display: flex;
  background-color: #ff6600;
  align-items: center;
  padding: 5px 20px;
  border-radius: 3px 3px 0 0;
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  font-size: 0.85rem;
  margin: 0 3px;
}

.nav-link:hover{
  text-decoration: none;
  box-shadow: inset 100px 0 0 0 #f8c19c;
  color: black;
}

.nav-right {
  margin-left: auto;
  text-align: right;
}

.nav-center {
  margin-left: auto;
  text-align: center;
}

#nav-logout:hover{
  text-decoration: none;
  box-shadow: inset 100px 0 0 0 #f8c19c;
  color: black;
}